*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[v-cloak] {
    display: none;
  }
img{  
    width: 100%;
    display:block;
}
li{
   list-style: none;
   max-height: 40px;
}
.form-control{
    font-size: .6rem !important;
    padding: 0 !important;
}
.active{
background-color: #FBFCFC;
}
.wrapper {
    padding: 20px;
    height: 100vh;
    background: linear-gradient(
        to top,
        #DADBD3 90%,
        #009688 0%
      );
}
.container {
    height: 90vh;
    background-color: #EAEAEA;
    /* max-width: 90%; */
    /* border: 2px solid black; */

}

.aside {
    width: 40%;
    /* border: 1px solid rgb(40, 87, 70); */
    background-color: #efecea;
}
.myAccount {
}
.accountAvatar {
}
.avatarImg img{
width: 40px;
}
.iconAvatar {
}


.asideNotification {
    background-color: #8EDAFC;
    /* height: 40px; */
}
.notificIcon {
}

.notificMessage {
}
 .p-Notification, .a-Notification,.p-avatar{
    font-size: 0.6rem;
    padding: 0;
}

.asideSearch {
    
}
.list{
    height: 300px;
}
ul{

    /* height: calc(100% /400px); */
    /* overflow-y: auto; */
    /* overflow: hidden; */
}
.list-name{
    font-size: .6rem;
}
.span-size{
    font-size: .6rem;
}
.size{
    font-size: .4rem;
}
/* ------------------ */
.content{
    width: 60%;
    background-image: url(/img/mine.jpg);
}

.contentAvatar, .write-messagge{
    background-color: #efecea;
}
.contentIconAvatar{

}
.avatarItem{}
 /* ------------content-recive */
 .write{

 }
 .write-item{
    background-color:#D5F9BA ;
   /* border: 1px solid black; */
 }

.recive-item{
   background-color: #fff; 
}
 /* ----------------content-write.mess */