*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[v-cloak] {
    display: none;
  }
img{  
    width: 100%;
    display:block;
}
li{
   list-style: none;
}
.acctive{
background-color: #FBFCFC;
}
.wrapper {
    padding: 20px;
    height: 100vh;
    background: linear-gradient(
        to top,
        #DADBD3 80%,
        #009688 0%
      );
}
.container {
    height: 90vh;
    background-color: #EAEAEA;
    max-width: 70%;
    border: 2px solid black;

}

.aside {
    width: 40%;
    border: 1px solid rgb(40, 87, 70);
}
.myAccount {
}
.accountAvatar {
}
.avatarImg{}
.iconAvatar {
}


.asideNotification {
    background-color: #8EDAFC;
}
.notificIcon {
}

.notificMessage {
}
.p-Notification, .a-Notification{
    font-size: 0.6rem;
}

.asideSearch {
    height: 40px;
    
}
.list{

}
.list-name{
    font-size: .6rem;
}
/* ------------------ */
.content{
    width: 60%;
}

